.MessageCard{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.MessageCard .body{
    flex: 1;
    padding: 0.5rem 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    & h3{
        color: rgba(0, 0, 0, 0.793) !important;
    }
}

.MessageCard .message{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    & p{
        margin-top: 0.5rem;
        overflow-x: auto;
    }
}

.MessageCard .AccountSymbl{
    height: 60px !important;
    width: 60px !important;
    background-color: black;
    color: white;
}

.MessageCard .btnContainer{
    width: 50%;
    padding: 0 1rem;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.MessageCard .btnContainer .btn{
    margin-left: 1rem; 
}