.ChatInput{
    width: 80%;
    margin: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ChatInput p{
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin: 0 auto 1rem 0;
}

.ChatInput .input{
    display: flex;
}

/* Style the input box */
.react-input-emoji--container {
    border: 3px solid #171717 !important;
    border-radius: 8px !important;
    background-color: #f0f0f0 !important;
    padding: 1rem 6rem 1rem 1rem!important;
    width: 10% !important;
    position: relative !important;
    font-size: larger !important;
}
  
  /* Style the emoji button */
  .react-input-emoji--button {
    width: 5rem !important;
    position: absolute !important;
    right: 10px;
  }

.ChatInput button{
    display: block;
    margin: 1rem auto;
    border: 0px;
    border-radius: 5px;
    width: 40%;
    height: 2.5rem;
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: 1rem;
    
    &:active{
        cursor:wait;
        background-color: rgb(48, 48, 48);
    }
}


