.AccountSymbl{
    height: 60px !important;
    width: 60px !important;
    margin-right: 0.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    background-color: black;
}

.online{
    border: 5px solid rgb(70, 186, 70) !important;
}

.AccountSymbl h1{
    font-size: 200%;
    font-weight: 600;
    color: white;
}
