.options {
    width:22rem;
    transition-timing-function: ease-in-out;
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 20rem;
    background-color: rgba(0, 0, 0, 0.089);
}

.option {
    flex: 1;
    display: flex;
    justify-content: center;
}

.btn {
    height: 100% !important;
    width: 100% !important;
    padding: 0.7rem 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 20rem !important;
}